# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
ROADMAP.md
scratchpad.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/lib/plugins/**/node_modules/**
/lib/plugins/**/.next/**
/lib/plugins/**.env
/lib/plugins/**.vercel
/lib/plugins/**.DS_Store
/lib/plugins/**.pnpm-debug.log*
/lib/plugins/**.yarn-debug.log*

contracts-v1/broadcast/**
contracts-v1/cache/**
contracts-v1/out/**
contracts-v1/zkout/**
contracts-v1/zksync-deploy/**